<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/main.css">
    <link rel="stylesheet" href="../static/styles/update.css">
    <title>{% block title %}Student Management{% endblock %}</title>
</head>
<body>
    <nav>
        <a href="/add_inquiry_data">Add Inquiry Data</a>
        <a href="/index">Student Registration</a>
        <a href="/add_individual_data">Add Individual Data</a>
        <a href="/add_completion_data">Add Completion Data</a>
    </nav>

    <h1>Student Details</h1>
    <form action="/update_remaining_data" method="post">
        <label for="studentId">Student ID:</label>
        <select id="studentId" name="studentId"></select>
        <!-- Options will be dynamically populated using JavaScript -->

        <button type="button" onclick="fetchStudentDetails()">Fetch Details</button><br>
        <br>
        <label for="batch">Batch Name:</label>
        <input type="text" id="batch" name="batch" readonly><br>

        <label for="name">Name:</label>
        <input type="text" id="name" name="name" readonly><br>

        <label for="course">Course:</label>
        <input type="text" id="course" name="course" readonly><br>

        <label for="pcNumber">PC Number:</label>
        <select id="pcNumber" name="pcNumber">
            <option value="" selected disabled>Select PC Number</option>
        </select><br>
        
        <label for="installmentDate1">Installment Date 1:</label>
        <input type="date" id="installmentDate1" name="installmentDate1"><br>
 
        <label for="installmentAmount1">Installment Amount 1:</label>
        <input type="number" id="installmentAmount1" name="installmentAmount1"><br>
        
        <label for="installmentDate2">Installment Date 2:</label>
        <input type="date" id="installmentDate2" name="installmentDate2"><br>

        <label for="installmentAmount2">Installment Amount 2:</label>
        <input type="number" id="installmentAmount2" name="installmentAmount2"><br>

        <label for="installmentDate3">Installment Date 3:</label>
        <input type="date" id="installmentDate3" name="installmentDate3"><br>

        <label for="installmentAmount3">Installment Amount 3:</label>
        <input type="number" id="installmentAmount3" name="installmentAmount3"><br>
            
        <label for="amounttobePaid">Amount to be Paid:</label>
        <input type="number" id="amounttobePaid" name="amounttobePaid" readonly><br>
        
        <label for="finalFees">Final Fees:</label>
        <input type="number" id="finalFees" name="finalFees" readonly><br>
        
        <label for="completionDate">Completion Date:</label>
        <input type="date" id="completionDate" name="completionDate"><br>
        
        <button type="submit">Submit</button>

        </form>
        
        <script src="../static/scripts/update.js"></script>
</body>
</html>