<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/main.css">
    <link rel="stylesheet" href="../static/styles/complete.css">
    <title>{% block title %}Student Management{% endblock %}</title>
</head>
<body>
    <nav>
        <a href="/add_inquiry_data">Add Inquiry Data</a>
        <a href="/index">Student Registration</a>
        <a href="/add_individual_data">Add Individual Data</a>
        <a href="/add_completion_data">Add Completion Data</a>
    </nav>

    <h1>Update Completion Data</h1>
    <form action="/update_completion_data" method="post">
        <label for="studentId">Student ID:</label>
        <select id="studentId" name="studentId"></select>
        <button type="button" onclick="fetchStudentDetails()">Fetch Details</button><br>
        <br>
        <!-- Display fetched student details -->
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" readonly><br>

        <label for="batch">Batch:</label>
        <input type="text" id="batch" name="batch" readonly><br>

        <label for="course">Course:</label>
        <input type="text" id="course" name="course" readonly><br>

        <label for="completionDate">Completion Date:</label>
        <input type="date" id="completionDate" name="completionDate"><br>

        <label for="examDate">Exam Date:</label>
        <input type="date" id="examDate" name="examDate"><br>

        <label for="certificateNumber">Certificate Number:</label>
        <input type="text" id="certificateNumber" name="certificateNumber"><br>

        <label for="issueCertificateDate">Issue Certificate Date:</label>
        <input type="date" id="issueCertificateDate" name="issueCertificateDate"><br>

        <label for="receiverName">Receiver Name:</label>
        <input type="text" id="receiverName" name="receiverName"><br>

        <label for="finalFees">Final Fees:</label>
        <input type="number" id="finalFees" name="finalFees" readonly><br>

        <button type="submit">Submit</button>
    </form>

    <script src="../static/scripts/complete.js"></script>
</body>
</html>