<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/main.css">
    <link rel="stylesheet" href="../static/styles/inquiry.css">

    <title>{% block title %}Student Management{% endblock %}</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/add_inquiry_data">Add Inquiry Data</a>
        <a href="/index">Student Registration</a>
        <a href="/add_individual_data">Add Individual Data</a>
        <a href="/add_completion_data">Add Completion Data</a>
        <a href="/edit_details">Edit Batch/PC</a>
    </nav>

    <h1>Inquiry Form</h1>
    <form action="/add_inquiry" method="post" enctype="multipart/form-data">

        <label for="inquiryDate">Inquiry Date:</label>
        <input type="date" id="inquiryDate" name="inquiryDate" ><br>
        
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"><br>

        <label for="city">City:</label>
        <input type="text" id="city" name="city"><br>
        
        <label for="moNo">Mobile No:</label>
        <input type="tel" id="moNo" name="moNo"><br>

        <label for="course">Course:</label>
            <select id="course" name="course" onchange="updateBatchOptions()">
                <option value="MS Office">MS Office</option>
                <option value="CCC">CCC</option>
                <option value="MS Office & Internet">MS Office & Internet</option>
                <option value="English">English</option>
                <option value="Tally">Tally</option>
                <option value="Miracle">Miracle</option>
                <option value="Photoshop">Photoshop</option>
                <option value="Auto CAD">Auto CAD 3D</option>
                <option value="Archi CAD">Archi CAD</option>
                <option value="C/C++">C/C++</option>
                <option value="PHP">PHP</option>
                
            </select><br>

        <label for="startDate">Starting Date:</label>
        <input type="date" id="startDate" name="startDate"><br>
        
        <label for="batch">Batch:</label>
        <select id="batch" name="batch"> </select><br>
        
        <button type="submit">Submit</button>
    </form>
    
    <script src="../static/scripts/inquiry.js"></script>
</body>
</html>
