<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/main.css">
    <link rel="stylesheet" href="../static/styles/display.css">
    <title>Display Students</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/add_inquiry_data">Add Inquiry Data</a>
        <a href="/index">Student Registration</a>
        <a href="/add_individual_data">Add Individual Data</a>
        <a href="/add_completion_data">Add Completion Data</a>
        <a href="/edit_details">Edit Batch/PC</a>
        <a href="/display_batch">View Batch</a>
    </nav>

    <h1>Display Students in Batch</h1>
    <form>
        <label for="batch">Select Batch:</label>
        <select id="batch" name="batch" required>
        </select>
        <button onclick="displayStudents()">Display Students</button>
    </form>
    <div id="studentsTable"></div>
    
    <script src="../static/scripts/display.js"></script>
</body>
</html>
