<!-- templates/change_batch_pc.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/main.css">
    <link rel="stylesheet" href="../static/styles/edit.css">
    <title>Change Batch and PC</title>
</head>
<body>
    <nav>
        <a href="/add_inquiry_data">Add Inquiry Data</a>
        <a href="/index">Student Registration</a>
        <a href="/add_individual_data">Add Individual Data</a>
        <a href="/add_completion_data">Add Completion Data</a>
        <a href="/edit_details">Edit Batch/PC</a>
    </nav>

    <h1>Change Batch and PC</h1>
    <form action="/change_batch_pc" method="post">
        <label for="studentId">Student ID:</label>
        <select id="studentId" name="studentId"></select>
        <!-- Options will be dynamically populated using JavaScript -->
        <button type="button" onclick="fetchStudentDetails()">Fetch Details</button><br>
        <br>

        <label for="oldBatch">Old Batch:</label>
        <input type="text" id="oldBatch" name="oldBatch" readonly><br>

        <label for="oldPCNumber">Old PC Number:</label>
        <input type="text" id="oldPCNumber" name="oldPCNumber" readonly><br>

        <label for="newBatch">New Batch:</label>
        <select id="newBatch" name="newBatch" required>
            <!-- Options will be dynamically populated by JavaScript -->

        </select><br>

        <label for="pcNumber">PC Number:</label>
        <select id="pcNumber" name="pcNumber">
            <option value="" selected disabled>Select PC Number</option>
        </select><br>

        <button type="submit">Submit</button>
    </form>

    <script src="../static/scripts/edit.js"></script>
</body>
</html>
